:root {
    --primary-font: 'Roboto', sans-serif;
    --primary-bgc: #1C1C1C;
    --secondary-bgc: #312F30;
    --primary-color: #FFFFFF;
    --accent-color: #F6762C;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--primary-color);
    background-color: var(--primary-bgc);
}

.list {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}


.nav {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
    /* margin-left: 100px; */
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 28px;
}

.nav-item:first-child {
    margin-left: 200px;
}

.nav-item:last-child {
    margin-right: 200px;
    margin-left: 0;
}

.nav-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7;
}

.nav-link:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    opacity: 1;
}

.order-button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 15px 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.hero {
    width: 100%;
    margin:0 auto;
    padding: 200px 0;
    background-image: url(../img/bgi.png);
    background-size: cover;
}

.hero-title {
    width: 550px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    padding-left: 100px;
}

.hero-slogan {
    width: 550px;
    font-weight: 500;
    font-size: 57.33px;
    line-height: 67px;
    padding-left: 100px;
}

.hero-quote {
    width: 520px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    opacity: 0.7;
    padding-left: 100px;
}

.hero-button {
    margin-left: 100px;
}



